th,td{
    border: 1px solid rgb(170, 162, 162);
    text-align: left;
}


#formButton {
    color: rgb(14, 129, 14);
    background-color: rgb(187, 187, 187);
    border: rgb(187, 187, 187);
    border-radius: 5px;
    font-size:medium;
    height: 30px;
}

h1{
    text-align: center;
    color: #2f3fa8;
}

h2,h3{
    color: #2f3fa8;
}